ul,li{
  padding:0;
  margin:0;
  list-style:none
}
.home{
  background-color: #28a;
}
.list{
  padding-left: 30px;
  border-bottom: 1px solid #eee;
  font-size : 30px;
  height:50px;
  width:100%;
  color: white;
  line-height: 50px;
  text-align: left;
}
