@font-face {
    font-family: 'iconfont';  /* project id 1346605 */
    src: url('//at.alicdn.com/t/font_1346605_6ylgpwd0qfd.eot');
    src: url('//at.alicdn.com/t/font_1346605_6ylgpwd0qfd.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1346605_6ylgpwd0qfd.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1346605_6ylgpwd0qfd.woff') format('woff'),
    url('//at.alicdn.com/t/font_1346605_6ylgpwd0qfd.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1346605_6ylgpwd0qfd.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}