.date{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  .input{
    flex:none;
    font-size:r(20);
    text-align: left;
  }
  
}

.gray{
  color: darkgray
}
.red{
  color: brown;
}
